<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{thymeleaf/fragments/layout_default}">
<th:block layout:fragment="content">     
<div class="contentsWrap">
    <div class="subTitle">
        <h2>상품목록</h2>
    </div>           
    <!-- 검색영역 -->
    <section class="seachArea">
        <form id="frm-object" th:object="${form}">
            <fieldset>
                <legend>검색</legend>
                <select th:field="*{type}" >
                    <option value="all">카테고리</option>
                    <option th:each="item :${categoryList}" th:value="${item.seq}" th:text="${item.categoryName}">디지털/가전</option>
                </select>
                <input type="text" th:field="*{search}" id="text" placeholder="검색어를 입력하세요." />
                <label for="text" class="hide">검색어</label>                    
                <button type="submit" class="btn sizeM bgMain">검색</button>
            </fieldset>
        </form>
    </section>
    <!-- //검색영역 -->
    
    <!-- 컨텐츠내용 -->
    <section class="contentArea">
        <div class="contentTop">
            <div class="flLeft">
               총 <strong class="fcMain" th:text="${pagination.totalRecord}"></strong> 건 ( 
	                <strong class="fcMain" th:text="${pagination.pageNum}"></strong>/<th:block th:text="${pagination.totalPage}"></th:block> )
              <!--   <select id="pageSelect" class="ml10">
                    <option value="10">10개</option>
                    <option value="30">30개</option>
                    <option value="50">50개</option>
                </select> -->
            </div>
            <div class="flRight">
                <a href="/supply/form/product" class="btn sizeM bgMain">등록</a>
            </div>                            
        </div>
        <div class="contents">    
            <table class="tblBasic allchkBox">
                <caption>상품목록</caption>
                <colgroup>
                    <col width="5%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="*" />
                    <col width="7%" />
                    <col width="9%" />
                    <col width="9%" />
                    <col width="7%" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" id="allChk" class="allChk" />
                            <label for="allChk" class="hide">전체체크</label>
                        </th>
                        <th>카테고리</th>
                        <th>썸네일</th>
                        <th>제품명</th>
                        <th>제조사</th>
                        <th>소비자가</th>
                        <th>할인가</th>
                        <th>승인여부</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody class="allchkArea">
                	<th:block th:if="${productList != null and productList.size > 0}">
	                    <tr th:each="item : ${productList}">
	                        <td>
	                            <input type="checkbox" name="" id="ckbox1" class="chkBox" />
	                            <label for="ckbox1" class="hide">1</label>
	                        </td>
	                        <td th:text="${item.categoryName}">카테고리</td>
	                        <td>
	                            <div class="imgWrap imgBorder">
	                                <img th:if="${item.thumbnail != null && item.thumbnail != ''}" th:src="@{'/image/product/'+${item.thumbnail}}" onerror="this.src='/common/images/noImg.png';"/>
	                                <img th:unless="${item.thumbnail != null && item.thumbnail != ''}" src="/common/images/noImg.png">
	                            </div>
	                        </td>
	                        <td class="txtAliL">
	                            <a th:href="@{/supply/modify/product(num=${item.productSeq})}" th:text="${item.productName}">펌프5.5G50 SXWA</a>
	                        </td>
	                        <td th:text="${item.makerName}">나이키</td>
	                        <td th:text="|${#numbers.formatInteger(item.price,0,'COMMA')}원|">155,000원</td>
	                        <td th:text="|${#numbers.formatInteger(item.discountPrice,0,'COMMA')}원|">125,000원</td>
	                        <td th:text="${item.approveYn == 'Y' ? '승인' : '승인대기'}">공개</td>
	                        <td th:text="${#temporals.format(item.createDt, 'yyyy.MM.dd')}">2022.07.22</td>
	                    </tr>
                    </th:block>
                    <th:block th:unless="${productList != null and productList.size > 0}">
	                    <tr class="noData">
	                        <td colspan="9">내용이 없습니다.</td>
	                    </tr>
                    </th:block>
                </tbody>
            </table>                    
        </div>
        <div class="contentBottom">
      
        </div>      
        <div class="pagingWrap mt20">
	       	<a th:if="${pagination.hasPreviousPageNav}==true" class="prev" th:with="url_prev=${form.makeQString(pagination.firstPageNo-1)}" th:href="@{${url_prev}}">이전 페이지</a>
			<th:block th:each="pageNum: ${#numbers.sequence(pagination.firstPageNo, pagination.lastPageNo)}">
				<a th:with="url=${form.makeQString(pageNum)}" th:href="@{${url}}" th:class="${pageNum}==${pagination.pageNum} ? 'on' : ''" th:text="${pageNum}"></a>
			</th:block>
			<a th:if="${pagination.hasNextPageNav}==true" class="next" th:with="url_next=${form.makeQString(pagination.lastPageNo + 1)}" th:href="@{${url_next}}">다음 페이지</a>
       </div>  
    </section>
    <!-- //컨텐츠내용 -->
</div>
</th:block>