<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{thymeleaf/common/default}">
<th:block layout:fragment="content">     
<div class="contentsWrap">
    <div class="subTitle">
        <h2>원생목록</h2>
    </div>           
    <!-- 검색영역 -->
    <!--
    <section class="seachArea">
        <form id="frm-object" th:object="${form}">
            <fieldset>
                <legend>검색</legend>
                <input type="text" id="text" placeholder="검색어를 입력하세요." />
                <label for="text" class="hide">검색어</label>                    
                <button type="submit" class="btn sizeM bgMain">검색</button>
            </fieldset>
        </form>
    </section>
    -->
    <!-- //검색영역 -->
    
    <!-- 컨텐츠내용 -->
    <section class="contentArea">
        <div class="contentTop">
            <div class="flLeft">
				<!--건수 표현 구역-->
            </div>
            <div class="flRight">
				<!--버튼구역-->
            </div>                            
        </div>
        <div class="contents">    
            <table class="tblBasic allchkBox">
                <caption>원생목록</caption>
                <colgroup>
                    <col width="10%" />
                    <col width="*" />
                    <col width="20%" />
                    <col width="20%" />
                    <col width="10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>-</th>
                        <th class="txtAliC">아이디</th>
                        <th class="txtAliC password">비밀번호</th>
                        <th class="txtAliC">이름</th>
                        <th class="txtAliC">상태</th>
                    </tr>
                </thead>
            	<th:block th:if="${map != null and map.size > 0}">
                    <tr th:each="item : ${map}">
                        <td>
                            <input type="checkbox" class="chkBox" th:data-user-seq="${item.User_Seq}" />
                        </td>
                        <td class="userId" th:text="${item.UserId}">아이디</td>
                        <td class="password" th:text="${item.Pass}">비밀번호</td>
                        <td class="userName" th:text="${item.UserName}">원생이름</td>
                        <td class="userStatus" th:text="${item.Delete_Yn == 'N' ? '재학' : '퇴원'}">상태</td>
                    </tr>
                </th:block>
                <th:block th:unless="${map != null and map.size > 0}">
                    <tr class="noData">
                        <td colspan="5">내용이 없습니다.</td>
                    </tr>
                </th:block>
            </table>                    
        </div>
        
        <div class="contentBottom">
	        <div class="flRight">
	            <a href="/userSave" class="btn sizeM bdGray">원생등록</a>
	            <a href="javascript:void(0);" onclick="sendButton()" class="btn sizeM bdGray">퇴원처리</a>
	        </div>
	    </div>
    </section>
    <!-- //컨텐츠내용 -->
</div>
</th:block>

<th:block layout:fragment="js">
	<script>
		function sendButton(){
	        // 체크된 체크박스들의 값을 담을 배열 생성
	        var checkedValues = [];
	        
	        // 각 체크박스의 값을 확인하여 체크된 경우 배열에 추가
	        $(".chkBox:checked").each(function(){
	            checkedValues.push($(this).data("user-seq"));
	        });
	        
	        // 만든 배열을 JSON 형식으로 변환
	        var jsonData = JSON.stringify(checkedValues);
	        
	        // AJAX를 통해 서버로 데이터 전송
	        $.ajax({
	            url: '/user/update', // 엔드포인트 URL 수정 필요
	            type: 'PUT',
	            contentType: 'application/json',
	            data: jsonData,
	            success: function(response){
	                alertSuccessLink('성공','수정을 완료하였습니다.','/userList');
	            },error : function(e,s){
					alertWarning('수정 실패', e.responseText)
				}
	        });
	    };
	</script>
</th:block>