<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{thymeleaf/common/default}">
<th:block layout:fragment="content">
	<div class="contentsWrap">
		<div class="subTitle">
			<h2>상품등록</h2>
		</div>

		<!--div class="tabRadio mb0">
			<input type="radio" name="product_set" id="product" checked />
			<label for="product" class="">상품정보</label>
			<input type="radio" name="product_set" id="option" />
			<label for="option" class="">옵션정보</label>
		</div-->

		<!-- 컨텐츠내용 -->
		<section class="contentArea">
			<div class="contents product">
				<form id="frm-object" th:object="${form}">
					<input type="hidden" th:field="*{wrkType}"/>
					<input type="hidden" th:field="*{productSeq}"/>
					<input type="hidden" th:field="*{fileGroupCode}"/>
					<fieldset>
						<legend>상품정보 작성</legend>
						<div class="writeForm">
								<div class="writerow showKo" th:if="${form.wrkType =='U'}">
									<div class="t">승인여부</div>
									<div class="c">
										<div class="lh30" th:text="*{approveYn} =='Y'?'승인완료':'승인대기'">
											
										</div>
									</div>
								</div>
		                        <div class="writerow">
									<div class="t">카테고리</div>
									<div class="c">
										<select th:field="*{categorySeq}">
											<option value="0">카테고리 선택</option>
											<option th:each="item : ${categoryList}" th:value="${item.seq}" th:text="${item.categoryName}">
										</select>
									</div>
								</div>
								<div class="writerow">
									<div class="t">택배사 선택</div>
									<div class="c">
										<select th:field="*{courierCode}">
											<option value="default">택배사 선택</option>
											<option th:each="ccode:${courierCodes}" th:value="${ccode.code}" th:text="${ccode.name}">우체국</option>	
										</select>
									</div>
								</div>
								<div class="writerow">
									<div class="t">원제품명</div>
									<div class="c">
										<input type="text" th:field="*{productOriginalName}" class="wp100" />
									</div>
								</div>
								<div class="writerow">
									<div class="t">쇼핑몰 상품명</div>
									<div class="c">
										<div class="mb10">
											<input type="checkbox" name="" id="nmCopy" th:checked="${form.productOriginalName == form.productName ? true: false}">
											<label for="nmCopy">원제품명과 동일</label>
										</div>
										<input type="text" th:field="*{productName}" th:disabled="${form.productOriginalName == form.productName ? true: false}" class="wp100" />
									</div>
								</div>
								<div class="writerow">
									<div class="t">제조사</div>
									<div class="c">
										<input type="text" th:field="*{makerName}" class="wp100" />
									</div>
								</div>
								<div class="writerow">
									<div class="t">가격설정</div>
									<div class="c">
										<input type="radio" th:field="*{priceType}" id="mPay" value="P"/>
										<label for="mPay">단일가</label>
										<input type="radio" th:field="*{priceType}" id="oPay"value="O" />
										<label for="oPay">옵션가</label>
									</div>
								</div>
								<div class="writerow mPay" th:style="${form.priceType=='O'}?'display:none;':''">
									<div class="t">단일가 설정</div>
									<div class="c">
										<div class="writerowCbox">
											<div>
												<span>매입가</span>
												<input type="text" id="productSupplyPrice" name="productSupplyPrice" 
											th:value="${#numbers.formatInteger(form.productSupplyPrice,0,'COMMA')}"  maxlength="12" class="w200 price" />
											</div>
											<div>
												<span>소비자가</span>
												<input type="text" id="productPrice" name="productPrice" 
											th:value="${#numbers.formatInteger(form.productPrice,0,'COMMA')}"  maxlength="12" class="w200 price" />
											</div>
											<div>
												<span>할인가</span>
												<input type="text" id="productDiscountPrice" name="productDiscountPrice" 
											th:value="${#numbers.formatInteger(form.productDiscountPrice,0,'COMMA')}" maxlength="12" class="w200 price" />
											</div>
										</div>
									</div>
								</div>
								<div class="writerow">
									<div class="t">옵션종류</div>
									<div class="c">
										<input type="radio" th:field="*{optionMaxDepth}"  value="1" id="op1" />
										<label for="op1">1개</label>
										<input type="radio" th:field="*{optionMaxDepth}"  value="2" id="op2" />
										<label for="op2">2개</label>
										<input type="radio" th:field="*{optionMaxDepth}"  value="3" id="op3" />
										<label for="op3">3개</label>
									</div>
								</div>
								<div class="writerow">
									<div class="t">세부설정</div>
									<div class="c p0">
										<div class="option_wrap" th:classAppend="'row'+${form.optionMaxDepth}" th:with="opArr = ${#strings.arraySplit(form.optionDepthName,'/')}">
											<div class="option_box" th:classAppend="|${form.optionMaxDepth == 1 ?'last':''} ${form.optionMaxDepth == 1 && form.priceType=='O'?'oPay_box':''}|" data-tap="1">
												<div class="t"><label for="op1">옵션1</label ><input type="text" id="op1" name="opDepNm" th:value="${form.optionMaxDepth>=1&&form.wrkType=='U' ? opArr[0]:''}" placeholder="옵션명을 입력해주세요"/></div>
												<div class="c">
													<ul id="ul_opt1">
														<th:block th:if="${form.wrkType =='U'}" >
															<li class="txt_filde" th:each="item : ${optionList.?[optionDepth == 1]}" th:data-parent-seq="${item.optionParentCode}" th:data-seq="${item.optionCode}">
																<div class="filed">
																	<label>항목명</label > 
																	<input type="text" class="op_txt" name="optNm" autocomplete="off" th:value="${item.optionName}" placeholder="항목명"/>
																</div>
																
																<div class="filed stock">
																	<label>재고</label> 
																	<input type="text" class="op_txt number" autocomplete="off" maxlength="5"  th:value="${item.optionStock}" name="optStk" id="" placeholder="재고"/>
																</div>
																<div class="oPay">
																	<div class="filed">
																		<label>매입가</label> 
																		<input type="text" class="w_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionSupplyPrice,0,'COMMA')}" maxlength="12" name="optSupPrice" id="" placeholder="매입가"/>
																	</div>
																	
																	<div class="filed">
																		<label>소비자가</label> 
																		<input type="text" class="s_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionPrice,0,'COMMA')}" maxlength="12"  name="optPrice" id="" placeholder="소비자가"/>
																	</div>
																	
																	<div class="filed">
																		<label>할인가</label> 
																		<input type="text" class="op_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionDiscountPrice,0,'COMMA')}" maxlength="12"  name="optDisPrice" id="" placeholder="할인가"/>
																	</div>
																</div>
																<span class="fontIcons google option_del_btn">cancel</span>
															</li>
														</th:block>
													</ul>
													<span class="fontIcons google option_add_btn">add_Circle</span>
												</div>
											</div>
											<div class="option_box" th:classAppend="|${form.optionMaxDepth == 2 ?'last':''} ${form.optionMaxDepth == 2 && form.priceType=='O'?'oPay_box':''}|" data-tap="2">
												<div class="t"><label for="op2">옵션2</label ><input type="text" id="op2" name="opDepNm"  th:value="${form.optionMaxDepth>=2&&form.wrkType=='U' ?opArr[1]:''}" placeholder="옵션명을 입력해주세요"/></div>
												<div class="c">
													<ul id="ul_opt2">
														<th:block th:if="${form.wrkType =='U'}" >
															<li class="txt_filde" th:each="item : ${optionList.?[optionDepth ==2]}" th:data-parent-seq="${item.optionParentCode}" th:data-seq="${item.optionCode}" style="display:none;">
																<div class="filed">
																	<label>항목명</label > 
																	<input type="text" class="op_txt" name="optNm"autocomplete="off" th:value="${item.optionName}" placeholder="항목명"/>
																</div>
																
																<div class="filed stock">
																	<label>재고</label>
																	<input type="text" autocomplete="off" class="op_txt number" maxlength="5" th:value="${item.optionStock}" name="optStk" id="" placeholder="재고"/>
																</div>
																
																<div class="oPay">
																	<div class="filed">
																		<label>매입가</label>
																		<input type="text" class="w_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionSupplyPrice,0,'COMMA')}" maxlength="12" name="optSupPrice" id="" placeholder="매입가"/>
																	</div>
																	
																	<div class="filed">
																		<label>소비자가</label>
																		<input type="text" class="s_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionPrice,0,'COMMA')}" maxlength="12"  name="optPrice" id="" placeholder="소비자가"/>
																	</div>
																	
																	<div class="filed">
																		<label>할인가</label>
																		<input type="text" class="op_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionDiscountPrice,0,'COMMA')}" maxlength="12"  name="optDisPrice" id="" placeholder="할인가"/>
																	</div>
																</div>
																<span class="fontIcons google option_del_btn">cancel</span>
															</li>
														</th:block>
													</ul>
													<span class="fontIcons google option_add_btn hide">add_Circle</span>
												</div>
											</div>
											<div class="option_box" th:classAppend="|${form.optionMaxDepth == 3 ?'last':''} ${form.optionMaxDepth == 3 && form.priceType=='O'?'oPay_box':''}|" data-tap="3">
												<div class="t"><label for="op3">옵션3</label ><input type="text" id="op3" name="opDepNm" th:value="${form.optionMaxDepth==3&&form.wrkType=='U' ? opArr[2]:''}"  placeholder="옵션명을 입력해주세요"/></div>
												<div class="c">
													<ul id="ul_opt3">
														<th:block th:if="${form.wrkType =='U'}">
															<li class="txt_filde"  th:each="item : ${optionList.?[optionDepth ==3]}" th:data-parent-seq="${item.optionParentCode}" th:data-seq="${item.optionCode}" style="display:none;">
																<div class="filed">
																	<label>항목명</label > 
																	<input type="text" class="op_txt" name="optNm" autocomplete="off" th:value="${item.optionName}" placeholder="항목명"/>
																</div>
																
																<div class="filed stock">
																	<label>재고</label>
																	<input type="text" class="op_txt number" autocomplete="off" maxlength="5" th:value="${item.optionStock}" name="optStk" id="" placeholder="재고"/>
																</div>
																
																<div class="oPay">
																	<div class="filed">
																		<label>매입가</label>
																		<input type="text" class="w_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionSupplyPrice,0,'COMMA')}" maxlength="12"  name="optSupPrice" id="" placeholder="매입가"/>
																	</div>
																	
																	<div class="filed">
																		<label>소비자가</label>
																		<input type="text" class="s_pay number" autocomplete="off" th:value="${#numbers.formatInteger(item.optionPrice,0,'COMMA')}" maxlength="12"  name="optPrice" id="" placeholder="소비자가"/>
																	</div>
																	
																	<div class="filed">
																		<label>할인가</label>
																		<input type="text" class="op_pay number"autocomplete="off" th:value="${#numbers.formatInteger(item.optionDiscountPrice,0,'COMMA')}" maxlength="12"  name="optDisPrice" id="" placeholder="할인가"/>
																	</div>
																</div>
																<span class="fontIcons google option_del_btn">cancel</span>
															</li>
														</th:block>
													</ul>
													<span class="fontIcons google option_add_btn hide">add_Circle</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<th:block th:if="${shopConf.styleImgSize == '2'}" >
									<div class="writerow">
										<div class="t">상품 리스트 이미지</div>
										<div class="c">
											<div class="photoFileBox list">
												<th:block th:if="${form.wrkType =='C'}">
													<div class="photofile imgBorder list" >
														<input type="file" name="listPhotoFile" id="listFile1">
														<label for="listFile1" class="fontIcons google">add_photo_alternate</label>
														<span class="fontIcons google photoDel_btn">cancel</span>
													</div>
												</th:block>
												<th:block th:if="${form.wrkType =='U'}">
													<th:block th:if="${bannerFile != null}">
				                                    	<div class="photofile imgBorder list on" th:style="'background-image : url(&quot;/image/product/'+${bannerFile.fileName}+'&quot;)'"  >
															<input type="file" name="listPhotoFile" th:data-seq="${bannerFile.fileSeq}" id="listFile1">
															<label for="listFile1" class="fontIcons google">add_photo_alternate</label>
															<span class="fontIcons google photoDel_btn">cancel</span>
														</div>
													</th:block>
													<th:block th:unless="${bannerFile != null}">
														<div class="photofile imgBorder list" >
															<input type="file" name="listPhotoFile" id="listFile1">
															<label for="listFile1" class="fontIcons google">add_photo_alternate</label>
															<span class="fontIcons google photoDel_btn">cancel</span>
														</div>
													</th:block>
		                                    </th:block>
											</div>
											<p class="accent pt10" >* 상품 목록에서 보여지는 이미지입니다.</p>
											<p class="accent pt10">* 권장 사이즈는 720x320을 권장합니다.</p  >
										</div>
									</div>
								</th:block>
								<div class="writerow">
									<div class="t">상품 이미지</div>
									<div class="c">
										<div class="photoFileBox">
											<th:block th:if="${form.wrkType =='C'}">
												<div class="photofile imgBorder" >
													<input type="file" name="photoFile" id="file1">
													<label for="file1" class="fontIcons google">add_photo_alternate</label>
													<span class="fontIcons google photoDel_btn">cancel</span>
												</div>
											</th:block>
											<th:block th:if="${form.wrkType =='U'}" >
												<div class="photofile imgBorder on" th:each="file : ${fileList}" th:style="'background-image : url(&quot;/image/product/'+${file.fileName}+'&quot;)'"  >
													<input type="file" name="photoFile" th:data-seq="${file.fileSeq}" th:id="'file'+${file.fileOrder}">
													<label th:for="'file'+${file.fileOrder}" class="fontIcons google">add_photo_alternate</label>
													<span class="fontIcons google photoDel_btn">cancel</span>
												</div>
												<div class="photofile imgBorder" th:if="${fileList.size<5}" >
													<input type="file" name="photoFile" th:id="'file'+${fileList.size()+1}">
													<label th:for="'file'+${fileList.size()+1}" class="fontIcons google">add_photo_alternate</label>
													<span class="fontIcons google photoDel_btn">cancel</span>
												</div>
											</th:block>
										</div>
										<p class="accent pt10" th:if="${shopConf.styleImgSize == '2'}">* 상세 페이지에서 보여지는 이미지입니다.</p  >
										<p class="accent pt10">* 권장 사이즈는 720x720을 권장합니다.</p  >
									</div>
								</div>
								
								<div class="writerow">
									<div class="t">내용</div>
									<div class="c">
										<input type="hidden" th:field="*{productDescription}" />
										<div id="summernote"></div>
									</div>
								</div>
							<div class="form_tab" >
								<h3 class="subTitle2 mt30">상품정보제공고시</h3>
								<div class="writeForm">
									<div class="writerow main">
										<div class="t">상품군</div>
										<div class="c">
											<select th:field="*{notiItemGroupNo}">
												<option value="0">상품군 선택</option>
												<option th:each="item : ${notiGroupList}" th:value="${item.groupNo}"
													th:text="${item.groupNm}">
											</select>
										</div>
									</div>
									<th:block th:if="${form.wrkType == 'U' && notiItemList != null}">
										<div class='writerow sub' th:each="item :${notiItemList}">
											<div class="t" th:text="${item.itemCodeNm}"></div>
											<div class="c">
												<input type="hidden" name="codeNm" th:value="${item.itemCodeNm}"/>
												<input type="hidden" name="codeGuide" th:value="${item.itemCodeGuide?:''}"/>
												<input type="text" name="codeValue" th:value="${item.itemCodeValue}" class="wp100"/>
												<p class='accent pt10' th:if="${item.itemCodeGuide != null && item.itemCodeGuide != ''}"
												th:utext="${#strings.replace(item.itemCodeGuide,'&#10;','&lt;br&gt;')}"></p>
											</div>
										</div>
									</th:block>
									
								</div>
							</div>
							<div class="writeFormSubmit">
								<button type="button" id="btn_cancel" class="btn_can btn bdGray">목록</button>
								<th:block th:if="${form.wrkType =='C'}">
									<button type="button" id="btn_create" class="btn_sub btn bgMain">등록</button>
								</th:block>
								<th:block th:if="${form.wrkType =='U'}">
									<button type="button" id="btn_delete"  class="btn_can btn bgGray">삭제</button>
									<button type="button" id="btn_modify" class="btn_sub btn bgMain">수정</button>
								</th:block>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	</div>
</th:block>
<th:block layout:fragment="css">
	<!-- 개별 CSS 영역 -->
	<link rel="stylesheet" th:href="@{/common/js/plugin/summernote/summernote-lite.css}">
</th:block>
<th:block layout:fragment="js">
	<script type="text/javascript" th:src="@{/common/js/plugin/summernote/summernote-lite.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/plugin/summernote/lang/summernote-ko-KR.js}"></script>
	<script type="text/javascript" th:src="@{/common/js/plugin/summernote/summernote_helper.js}"></script>
	<script>
		$(document).ready(function () { //ready start		

			customSummerNote1();
			$('#summernote').summernote('code', $('#productDescription').val());

			$(document).on("click", "#nmCopy", function () {
				if ($(this).is(":checked")) {
					$("#productName").val($("#productOriginalName").val()).attr('disabled', true)
				} else {
					$("#productName").val("").attr('disabled', false).focus()
				}
			})

			/* 사진등록 */
			$(document).on("change", ".photoFileBox input[type='file']", function () {
				var fileName = $(this).val();
				fileName = fileName.slice(fileName.lastIndexOf(".") + 1).toLowerCase();
				if (isEmpty(fileName)) return false;

				if (fileName != "jpg" && fileName != "png" && fileName != "jpeg" && fileName != "gif" && fileName != "bmp") {
					alertWarning("", "이미지 파일만 가능합니다.");
					return false;
				}
				readURL(this);
			});

			/* 사진삭제 */
			$(document).on('click', '.photoDel_btn', function () {
				
				$(this).parent('.photofile').remove();
				
				if($(this).siblings('input').attr('name') != 'listPhotoFile'){		
					imgNumChange();
					imgboxAdd();
				}else{
					imgboxAdd2();
				}
			});

			$(document).on({
				focus: function () {
					if ($(this).val() == '0') {
						$(this).val('');
					}
				},
				blur: function () {
					if (isEmpty($(this).val())) {
						$(this).val(0);
					}
				},
				input: function () {
					$(this).val(conNumberNoLeftZero($(this).val()));
				}
			}, '.price');
			
			$(document).on("input","#productOriginalName",function(){
				if($("#nmCopy").is(":checked")){
					$("#productName").val($(this).val());
				}
			});
			
			$(document).on("click","#btn_cancel",function(){ //뒤로가기
				history.back();
			});
			
			$(document).on("input",".number",function(){
				$(this).val(conNumberNoLeftZero($(this).val()));
			});
			
			$("#ul_opt1,#ul_opt2,#ul_opt3").sortable({
				scroll: false,
				containment: 'parent',
				forcePlaceholderSize: true,
				placeholder: "ui-state-highlight"
			});
			
			
			
			$(".photoFileBox").sortable({
				axis: "x",
				scroll: false,
				containment: 'parent',
				forcePlaceholderSize: true,
				placeholder: "ui-state-highlight",
				update: function(){
					imgNumChange();
				}
			});
			
			/*
			$('input[name="product_set"]').on("change",function(){
				var type = $('input[name="product_set"]:checked').attr('id');
				
				if(type == 'option'){
					$('.writeForm > .option').show();
					$('.writeForm > .product').hide();
				}else{
					$('.writeForm > .option').hide();
					$('.writeForm > .product').show();
				}
			});
			*/
			$('input[name="priceType"]').on("change",function(){
				var type = $('input[name="priceType"]:checked').attr('id');
				
				if(type == 'oPay'){
					$('.option_box').addClass('oPay_box');
					$('.mPay').hide();
				}else{
					$('.option_box').removeClass('oPay_box');
					$('.mPay').show();
				}
			});
			
			$(document).on("focus",".txt_filde input[type='text']",function(){
				let $opt = $(this).closest(".txt_filde");
				
				if(!$opt.hasClass("on")){
					changeFocusOption($opt);		
				}
			});
			
			
			$('input[name="optionMaxDepth"]').on("change",function(){
				var type = $('input[name="optionMaxDepth"]:checked').attr('id');
				
				if(type == 'op3'){
					$('.option_wrap').addClass('row3');
					$('.option_wrap').removeClass('row2');
					$('.option_box').removeClass('last').eq('2').addClass('last');
				}else if(type == 'op2'){
					$('.option_wrap').removeClass('row3');
					$('.option_wrap').addClass('row2');
					$('.option_box').removeClass('last').eq('1').addClass('last');
				}else{
					$('.option_wrap').removeClass('row3');
					$('.option_wrap').removeClass('row2');
					$('.option_box').removeClass('last').eq('0').addClass('last');
				}
			});
			
			$(document).on('click','.txt_filde',function(){
				changeFocusOption($(this));		
			})
			
			
		});
		

		// 상품정보 제공고시 
		$(function () {
			$(document).on("change", "#notiItemGroupNo", function () {
				let groupNo = parseInt($(this).val());
				$(".form_tab").find(".sub").remove();
				
				if (groupNo === 0) {
					return false;
				}
				
				
				$.ajax({
					url: "/ajax/item-noti",
					type: "GET",
					data: {"groupNo": groupNo},
					success: function (data) {
						if (data.result == 'success') {
							let list = data.itemList;
							let html = "";
							list.forEach(function (item) {
								html += `<div class='writerow sub'><div class="t">${item.itemCodeNm}</div><div class="c">
								<input type="hidden" name="codeNm" value="${item.itemCodeNm}"/>
								<input type="hidden" name="codeGuide" value="${item.itemCodeGuide}"/>
								<input type="text" name="codeValue" value="상품상세 참조" class="wp100"/>`
								if(!isEmpty(item.itemCodeGuide)) {
									console.log(item.itemCodeGuide);
									html += `<p class='accent pt10'>${conNewLineTextToTag(item.itemCodeGuide)}</p>`;
								}
								html += `</div></div>`;
							});
							html += "";
							$(".form_tab").find(".writeForm").append(html);
							$(".form_tab").find(".writeForm").find("input[name='codeValue']").first().focus();
						}
					}, error: function (request, status, e) {

					}
				});


			});
		});
		
		
		// option 추가 삭제
		$(function(){
			$('.option_add_btn').on('click',function(){
				let dep = parseInt($(this).parents(".option_box").attr("data-tap"));
				let parentSeq = "";
				
				if(dep >=2){
					let selParOpt =	$(".option_box[data-tap='"+(dep-1)+"']").find(".txt_filde.on"); // 부모 option
					
					if(isEmpty(selParOpt)){
						return false;
					}	
					parentSeq = selParOpt.attr("data-seq");
				}
				let code = getOptionCode();
				
				let html = `<li class="txt_filde new" data-parent-seq="${parentSeq}" data-seq="${code}">
					<div class="filed">
						<label>항목명</label > 
						<input type="text" class="op_txt" name="optNm" id="" autocomplete="off" placeholder="항목명"/>
					</div>
					<div class="filed stock">
						<label>재고</label>
						<input type="text" class="op_txt number" autocomplete="off" name="optStk" id="" placeholder="재고" value="999" />
					</div>
					<div class="oPay">
						<div class="filed">
							<label>매입가</label>
							<input type="text" class="w_pay number" autocomplete="off" name="optSupPrice" id="" placeholder="매입가"/>
						</div>
						<div class="filed">
							<label>소비자가</label>
							<input type="text" class="s_pay number" autocomplete="off" name="optPrice" id="" placeholder="소비자가"/>
						</div>
						<div class="filed">
							<label>할인가</label>
							<input type="text" class="op_pay number"autocomplete="off" name="optDisPrice" id="" placeholder="할인가"/>
						</div>
					</div>
					<span class="fontIcons google option_del_btn">cancel</span></li>`
				$(this).prev().append(html);
			});
			
			$(document).on('click','.option_del_btn',function(){
				var e = $(this).parent('.txt_filde').parent('.c');
				let dep = parseInt($(this).parents(".option_box").attr("data-tap"));
				
				if(dep==1){ //옵션1 삭제시 하위 자식 옵션 삭제
					let parentSeq = $(this).parent('.txt_filde').attr("data-seq");
					$(".option_box[data-tap='2']").find(".txt_filde[data-parent-seq='"+parentSeq+"']").each(function(){
						let parentSeq2 = $(this).attr("data-seq");
						$(".option_box[data-tap='3']").find(".txt_filde[data-parent-seq='"+parentSeq2+"']").remove();
						$(this).remove();
					})
				}else if(dep ==2){//옵션2 삭제시 하위 자식 옵션 삭제
					let parentSeq =$(this).parent('.txt_filde').attr("data-seq");
					$(".option_box[data-tap='3']").find(".txt_filde[data-parent-seq='"+parentSeq+"']").remove();
				}
				
				$(this).parent().remove();
				hideAddButton();
			
			});
		});
		function getOptionCode(){
			let code = getRandomCode();
			if($(".txt_filde[data-seq='"+code+"']").length <1){
				return code;
			}
			getOptionCode();
		}
		
		// option 번호 재할당
		function option_seq(e){
			var i = 1;
			var target = $(e).find('.txt_filde');
			
			$.each(target,function () {
				$(this).attr('data-seq', i);
				i++;
			});
		}
		
		/* 사진 미리보기 함수 */
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$(input).parent().css({'background-image': 'url(' + e.target.result + ')'});
				}
				
				$(input).parent().addClass('on');
				if($(input).attr('name') != 'listPhotoFile'){	
					let seq = $(".photoFileBox").find("input[type='file']").length;
	
					if (seq < 5) {
						let html = `<div class="photofile imgBorder"><input type="file" name="photoFile" id="file` + (seq + 1) + `"><label for="file` + (seq + 1) + `" class="fontIcons google">add_photo_alternate</label ><span class="fontIcons google photoDel_btn">cancel</span></div>`;
						$(input).parent().after(html);
					}
				}
				reader.readAsDataURL(input.files[0]);
			}
		}

		function imgboxAdd() {
			let seq = $(".photoFileBox").find(".photofile.on").length;
			if (seq == 4) {
				let html = `<div class="photofile imgBorder"><input type="file" name="photoFile" id="file` + (seq + 1) + `"><label for="file` + (seq + 1) + `" class="fontIcons google">add_photo_alternate</label ><span class="fontIcons google photoDel_btn">cancel</span></div>`;
				$('#file' + seq).parent('.photofile').after(html);
			}
		}
		function imgboxAdd2() {
	        let html = `<div class="photofile imgBorder list"><input type="file" name="listPhotoFile" id="listImg"><label for="listImg" class="fontIcons google">add_photo_alternate</label ><span class="fontIcons google photoDel_btn">cancel</span></div>`;
	        $('.photoFileBox.list').html(html);
		}
		
		function imgNumChange() {
			var i = 1;
			
			$(".photofile input[type='file']").each(function () {
				$(this).attr('id', 'file' + i);
				$(this).siblings('label').attr('for', 'file' + i);

				i++;
			});
		}
		
		/*
		function deleteEmptyFile() {
			$(".photofile input[type='file']").each(function(){
				if(isEmpty($(this).val())){
					$(this).parent(".photofile").remove();
				}
			});
		}
		*/
		function changeFocusOption($obj){
			$obj.addClass('on');
			$obj.siblings('.txt_filde').removeClass('on');
			let dep = parseInt($obj.closest(".option_box").attr("data-tap"));
			if(dep<=2){ //마지막 depth가 아닐때 선택한 옵션의 자식 옵션 외 hide 처리
				let parentSeq = $obj.attr("data-seq");	
				$(".option_box[data-tap='3']").find(".txt_filde").removeClass('on').hide();
				if(dep==1){ 
					$(".option_box[data-tap='2']").find(".txt_filde").removeClass('on').hide();
					$(".option_box[data-tap='2']").find("span").removeClass('hide');
					$(".option_box[data-tap='2']").find(".txt_filde[data-parent-seq='"+parentSeq+"']").show();
				}else{
					$(".option_box[data-tap='3']").find("span").removeClass('hide');
					$(".option_box[data-tap='3']").find(".txt_filde[data-parent-seq='"+parentSeq+"']").show();
				}
			}
			hideAddButton();
		}
		
		function hideAddButton(){
			if($(".option_box[data-tap='2']").find(".txt_filde.on").length<1){
				$(".option_box[data-tap='3']").find("span").addClass('hide');
			}
			if($(".option_box[data-tap='1']").find(".txt_filde.on").length<1){
				$(".option_box[data-tap='2']").find("span").addClass('hide');
			}
		}
		
		function showOption($obj){ //focus 맞출 option 보이게 처리
			let optDep =$obj.parents(".option_box").attr("data-tap");
			let parentSeq = $obj.attr("data-parent-seq");
			let optSeq = $obj.attr('data-seq');
			let pOpt = $(".txt_filde[data-seq='"+parentSeq+"']"); //부모옵션
			
			if(optDep=="3"){
				let ppOpt = $(".txt_filde[data-seq='"+pOpt.attr("data-parent-seq")+"']");
				changeFocusOption(ppOpt);
				changeFocusOption(pOpt);
				changeFocusOption($obj);
			}else if(optDep =="2"){
				changeFocusOption(pOpt);
				changeFocusOption($obj);
			}else{
				changeFocusOption($obj);
			}
		}
		
		
		function formCheck(){ //전체 유효성 검사 
			$("#frm-object input[type='text']").each(function(){
				$(this).val(conTrim($(this).val()));
			});
			
			let pdOrigNm =$("#productOriginalName").val(); //원상품명
			let pdNm = $("#productName").val(); //쇼핑몰 상품명
			let makNm = $("#makerName").val(); //제조사명 
			let cateSeq = $("#categorySeq").val(); //카테고리 시퀀스
			let doc = conTrim(getOnlyTextContents()); //내용
			let priceType = $("input[name='priceType']:checked").val(); //가격 설정 유형
			let maxDep = parseInt($("input[name='optionMaxDepth']:checked").val()); //옵션 최대 뎁스
			let fileLeng = $(".photoFileBox").find(".photofile.on").length;
			let courierCode = $("#couriderCode").val();
			
			//상품기본정보 유효성 검사
			if(isEmpty(pdOrigNm)){
				alertWarningFocus('경고', '원상품명을 입력해 주세요.','productOriginalName','id');
				return false;
			} else if(isEmpty(pdNm)){
				alertWarningFocus('경고', '쇼핑몰 상품명을 입력해 주세요.','productName','id');
				return false;
			}else if(isEmpty(makNm)){
				alertWarningFocus('경고', '제조사명 입력해 주세요.','makerName','id');
				return false;
			}else if(cateSeq=="0"){
				alertWarningFocus('경고', '상품 카테고리를 선택해 주세요.','categorySeq','id');
				return false;
			}else if(courierCode == "default"){
				alertWarningFocus('경고', '택배사를 선택해 주세요.','courierCode','id');
				return false;
			}else if(isEmpty(doc)){
				alertWarningFocus('경고', '내용을 입력해 주세요.','summernote','summernote');
				return false;
			}
			
			if(priceType=='P'){ //가격 단일가 일 때
				 let supPrice = parseInt(conNumber($("#productSupplyPrice").val()));
				 let price = parseInt(conNumber($("#productPrice").val()));
				 let disPrice = parseInt(conNumber($("#productDiscountPrice").val()));
				 
				 if(supPrice<=0){
					alertWarningFocus('경고', '매입가를 입력해 주세요.','productSupplyPrice','id');
					return false;
				 }else if(price <=0){
					alertWarningFocus('경고', '소비자가를 입력해 주세요.','productPrice','id');
					return false;
				 }else if(disPrice <=0){
					alertWarningFocus('경고', '할인가를 입력해 주세요.','productDiscountPrice','id');
					return false;
				 }else if(disPrice > price){
					alertWarningFocus('경고', '할인가는 소비자가보다 작거나 같아야 합니다.','productDiscountPrice','id');
					return false;
				 }
			}
			//상품기본정보 유효성 검사 끝
			
			if(fileLeng<1){
				alertWarning('경고', '상품 이미지를 최소 하나 이상 등록해 주세요.');
				return false;
			}
			
			//옵션정보 유효성 검사
			for(let i=1;i<=maxDep;i++){
				let optBox = $(".option_box[data-tap='"+i+"']");
				let isEmp =false;
				let isLast = optBox.hasClass("last");
				let optDepNm = optBox.find("input[name='opDepNm']").val();
				if(isEmpty(optDepNm)){
					alertWarningFocus('경고', '옵션명을 입력해 주세요.',optBox.find("input[name='opDepNm']"),'obj');
					return false;
				}
				
				if(optBox.find(".c .txt_filde").length <1&& i==1){
					alertWarning('경고', '옵션은 최소 하나이상 존재해야 합니다.');
					return false;
				}
				
				
				optBox.find(".c .txt_filde").each(function(){
					let optNm = $(this).find("input[name='optNm']").val();
					let optSeq = $(this).attr("data-seq");
					if(isEmpty(optNm)){
						isEmp = true;
						showOption($(this));
						alertWarningFocus('경고', '옵션 항목명을 입력해 주세요.',$(this).find("input[name='optNm']"),'obj');
						return false;
					}
					
					if(i<maxDep){
						let childLeng = $(".option_box[data-tap='"+(i+1)+"']").find(".txt_filde[data-parent-seq='"+optSeq+"']").length;
						if(childLeng<1){
							isEmp = true;
							showOption($(this));
							let msg = "";
							if(i>1){
								let parentSeq = $(this).attr("data-parent-seq");
								let parOptNm = $(".txt_filde[data-seq='"+parentSeq+"']").find("input[name='optNm']").val();
								msg = '옵션 항목 "'+parOptNm+' > '+optNm+'" 의 하위 항목을 추가해주세요';
							}else{
								msg = '옵션 항목 "'+optNm+'" 의 하위 항목을 추가해주세요.';
							}
							alertWarningFocus('경고', msg,$(this).find("input[name='optNm']"),'obj');
							return false;
						}
					}
					
					if(isLast){  
						let optStk = $(this).find("input[name='optStk']").val();
						if(isEmpty(optStk)){
							isEmp = true;
							showOption($(this));
							alertWarningFocus('경고', '옵션 재고를 입력해 주세요.',$(this).find("input[name='optStk']"),'obj');
							return false;
						}	
						if(priceType=="O"){ //옵션별 가격일 때
							let price = $(this).find("input[name='optPrice']").val();
							let supPrice = $(this).find("input[name='optSupPrice']").val();
							let disPrice = $(this).find("input[name='optDisPrice']").val();
							if(isEmpty(supPrice)){
								isEmp = true;
								showOption($(this));
								alertWarningFocus('경고', '옵션 매입가를 입력해 주세요.',$(this).find("input[name='optSupPrice']"),'obj');
								return false;
							}else if(isEmpty(price)){
								isEmp = true;
								showOption($(this));
								alertWarningFocus('경고', "옵션 소비자가를 입력해 주세요.",$(this).find("input[name='optPrice']"),'obj');
								return false;
							}else if(isEmpty(disPrice)){
								isEmp = true;
								showOption($(this));
								alertWarningFocus('경고', '옵션 할인가를 입력해 주세요.',$(this).find("input[name='optDisPrice']"),'obj');
								return false;
							}else if(parseInt(conNumber(price))<parseInt(conNumber(disPrice))){
								isEmp = true;
								showOption($(this));
								alertWarningFocus('경고', '할인가는 소비자가보다 작거나 같아야 합니다.',$(this).find("input[name='optDisPrice']"),'obj');
								return false;
							}
						}
					}
				});
				
				if(isEmp){
					return false;
				}
				
			}
			//옵션정보 유효성 검사 끝
			
			return true;
		}
		
	</script>
<th:block th:if="${form.wrkType == 'C'}">
	<script>
	$(document).ready(function(){ //ready start
		$(document).on('click', '#btn_create', function(){
			if(! formCheck())
				return false;
			
			let formData = new FormData($('#frm-object')[0]);					
			let summerNoteFile = getFileList();
			let uuid = new Array();
			let origContents = getContents();
			for(let i = 0; i < getFileListLength(); i ++){
				let extLastIdx = summerNoteFile[i]['type'].lastIndexOf("/");
				let ext = summerNoteFile[i]['type'].substring(extLastIdx + 1).toLowerCase();	
				ext = ext == 'jpeg' ? 'jpg' : ext.toLowerCase();
				uuid[i] = conUuid();
				$(".note_img").eq(i).attr('src', '/image/editor/' + uuid[i] + "." + ext);
				formData.append("editorImgFiles", summerNoteFile[i]);
			}
			$(".note_img").attr("loading","lazy");
			$(".note_img").removeAttr("id");
			$(".note_img").removeClass("note_img");
			formData.append("boardImgUuid", uuid);
			formData.set('productDescription',  getContents());
			$('#summernote').summernote('code', origContents);
			if($("#nmCopy").is(":checked")){
				formData.set("productName",$("input[name='productName']").val());
			}
			
			let maxDep = parseInt($("input[name='optionMaxDepth']:checked").val()); //옵션 최대 뎁스
			let priceType = $("input[name='priceType']:checked").val(); //가격 설정 유형
			let optArr = new Array();
			
			//콤마제거
			formData.set('productSupplyPrice',  conNumber($("#productSupplyPrice").val()));
			formData.set('productPrice',  conNumber($("#productPrice").val()));
			formData.set('productDiscountPrice',  conNumber($("#productDiscountPrice").val()));
			
			let optDepArr = [];
			for(let i=1;i<=maxDep;i++){
				let optBox = $(".option_box[data-tap='"+i+"']");
				let isLast = optBox.hasClass("last");
				optDepArr.push(optBox.find('input[name="opDepNm"]').val());
				optBox.find(".c .txt_filde").each(function(index){
					let optObj = {};
					optObj.optionDepth = i;
					optObj.optionCode = $(this).attr("data-seq");
					optObj.optionParentCode = $(this).attr("data-parent-seq");
					optObj.optionName = $(this).find("input[name='optNm']").val();
					
					if(isLast){
						optObj.optionStock = $(this).find("input[name='optStk']").val();
					}
					
					if(isLast&&priceType=="O"){
						optObj.optionPrice = conNumber($(this).find("input[name='optPrice']").val());
						optObj.optionSupplyPrice = conNumber($(this).find("input[name='optSupPrice']").val());
						optObj.optionDiscountPrice = conNumber($(this).find("input[name='optDisPrice']").val());
					}
					optArr.push(optObj);
				});
				
			}
			formData.append("optArr",JSON.stringify(optArr));
			formData.append("optionDepthName",optDepArr.join("/"));
			
			//상품정보 제공고시 작업
			let notiItemGroupNo = parseInt($("#notiItemGroupNo").val()??0);
			if(notiItemGroupNo !== 0){
				let notiItemArr = [];
				$(".form_tab").find(".writerow.sub").each(function(item){
					let codeNm = $(this).find("input[name='codeNm']").val();
					let codeValue = $(this).find("input[name='codeValue']").val();
					let codeGuide = $(this).find("input[name='codeGuide']").val();
					let notiItemObj = {"itemCodeNm":codeNm,"itemCodeValue":codeValue,"itemCodeGuide":codeGuide};
					notiItemArr.push(notiItemObj);
				});
				
				formData.append("notiItemValue",JSON.stringify(notiItemArr));
			}
			
			const jsonData = {
				successLink: '/supply/list/product',
				successMsg : '저장을 완료했습니다.',		
				failLink: '/',
				url:'/office/exec/product',
				type:'post',
				dataType:'text',
				data: formData
			}

			ajaxSendAlertLinkFile(jsonData);
		});
	}); //ready end
	</script>
</th:block>
<th:block th:if="${form.wrkType == 'U'}">
	<script>
		let origFile = [];
		let origUuid = [];
		let origOption = [];
		$(document).ready(function(){ //ready start
			$(".note-editable img").each(function(item){
				var src = $(this).attr("src");
				if(!isEmpty(src)){
					var uuid = src.substr(src.lastIndexOf('/'));
					origUuid.push(uuid);
				}
			});
		
			$(".photofile.on").each(function(){
				let fileSeq = $(this).find("input[type='file']").attr("data-seq");
				if(!isEmpty(fileSeq)) origFile.push(fileSeq);
			});
			
			$(".txt_filde").each(function(index){
				origOption.push($(this).attr("data-seq"));
			});
			
			$(document).on('click', '#btn_modify', function(){
				if(! formCheck())
					return false;
				
		
				let formData = new FormData($('#frm-object')[0])
				let num = '[[${form.productSeq}]]';
				let summerNoteFile = getFileList();
				let uuid = new Array();
				let changeUuid =[];
				let changeFile =[];
				let fileOrder = [];
				let changeOption =[];
				let origContents = getContents();
				for(let i = 0; i < getFileListLength(); i ++){
					let extLastIdx = summerNoteFile[i]['type'].lastIndexOf("/");
					let ext = summerNoteFile[i]['type'].substring(extLastIdx + 1).toLowerCase();	
					ext = ext == 'jpeg' ? 'jpg' : ext.toLowerCase();
					uuid[i] = conUuid();
					$(".note_img").eq(i).attr('src', '/image/editor/' + uuid[i] + "." + ext);
					formData.append("editorImgFiles", summerNoteFile[i]);
				}
				$(".note_img").attr("loading","lazy");
				$(".note_img").removeAttr("id");
				$(".note_img").removeClass("note_img");
				formData.append("boardImgUuid", uuid);
				formData.set('productDescription',  getContents());
				$('#summernote').summernote('code', origContents);
				if($("#nmCopy").is(":checked")){
					formData.set("productName",$("input[name='productName']").val());
				}
				
				$(".note-editable img").each(function(item){
					var src = $(this).attr("src");
					if(!isEmpty(src)){
						var uuid = src.substr(src.lastIndexOf('/'));
						changeUuid.push(uuid);
					}
				})
				
				
				$(".photofile.on input[type='file']").each(function(item){
					var seq = $(this).attr("data-seq");
					console.log(seq);
					if(!isEmpty(seq)){
						let order = $(this).attr("id").replace("file","");
						if($(this).attr("name")=="photoFile"){
							fileOrder.push({"fileOrder":order,"fileSeq":seq});		
						}
						changeFile.push(seq);
					}
				});
				$(".txt_filde").each(function(index){
					changeOption.push($(this).attr("data-seq"));
				});
				
				
				
				let deleteUuid = getRemovedValue(origUuid,changeUuid);
				let deleteFile = getRemovedValue(origFile,changeFile);
				let deleteOption = getRemovedValue(origOption,changeOption);
				if(fileOrder.length>0){
					formData.append("fileOrder",JSON.stringify(fileOrder));
				}
				if(deleteUuid.length>0){
					formData.append("deleteUuid",deleteUuid.join(','));
				}
				
				if(deleteFile.length>0){
					formData.append("deleteFile",deleteFile.join(','));
				}
				
				if(deleteOption.length>0){
					formData.append("deleteOption",deleteOption.join(','));
				}
				
				let maxDep = parseInt($("input[name='optionMaxDepth']:checked").val()); //옵션 최대 뎁스
				let priceType = $("input[name='priceType']:checked").val(); //가격 설정 유형
				let optArr = new Array();
				
				
				
				formData.set('productSupplyPrice',  conNumber($("#productSupplyPrice").val()));
				formData.set('productPrice',  conNumber($("#productPrice").val()));
				formData.set('productDiscountPrice',  conNumber($("#productDiscountPrice").val()));
				
				
				let optDepArr = [];
				for(let i=1;i<=maxDep;i++){
					let optBox = $(".option_box[data-tap='"+i+"']");
					let isLast = optBox.hasClass("last");
					optDepArr.push(optBox.find('input[name="opDepNm"]').val());
					optBox.find(".c .txt_filde").each(function(index){
						let optObj = {};
						optObj.optionDepth = i;
						optObj.optionCode = $(this).attr("data-seq");
						optObj.optionParentCode = $(this).attr("data-parent-seq");
						optObj.optionName = $(this).find("input[name='optNm']").val();
						if(i==1){
							optObj.optionOrder = (index+1);
						}else{
							optObj.optionOrder =(optBox.find(".txt_filde[data-parent-seq='"+optObj.optionParentCode+"']").index($(this))+1);
						}
						
						if(isLast){
							optObj.optionStock = conNumber($(this).find("input[name='optStk']").val());
						}
						
						if(isLast&&priceType=="O"){
							optObj.optionPrice = conNumber($(this).find("input[name='optPrice']").val());
							optObj.optionSupplyPrice = conNumber($(this).find("input[name='optSupPrice']").val());
							optObj.optionDiscountPrice = conNumber($(this).find("input[name='optDisPrice']").val());
						}
						optArr.push(optObj);
					});
					
				}

				formData.append("optArr",JSON.stringify(optArr));
				formData.append("optionDepthName",optDepArr.join("/"));
				
				//상품정보 제공고시 작업
				let notiItemGroupNo = parseInt($("#notiItemGroupNo").val()??0);
				if(notiItemGroupNo !== 0){
					let notiItemArr = [];
					$(".form_tab").find(".writerow.sub").each(function(item){
						let codeNm = $(this).find("input[name='codeNm']").val();
						let codeValue = $(this).find("input[name='codeValue']").val();
						let codeGuide = $(this).find("input[name='codeGuide']").val();
						let notiItemObj = {"itemCodeNm":codeNm,"itemCodeValue":codeValue,"itemCodeGuide":codeGuide};
						notiItemArr.push(notiItemObj);
					});
					
					formData.append("notiItemValue",JSON.stringify(notiItemArr));
				}
				
				const jsonData = {
					successLink: '/supply/modify/product?num=' + num,
					successMsg : '수정을 완료했습니다.',		
					failLink: '/',
					url:'/office/exec/product',
					type:'post',
					dataType:'text',
					data: formData
				}
				
				ajaxSendAlertLink(jsonData);
					
			});
		
			$(document).on('click', '#btn_delete', function(){
				
				let formData = new FormData($('#frm-object')[0])
				let num = '[[${form.productSeq}]]';
				
				if(origUuid.length>0){
					formData.append("deleteUuid",origUuid.join(','));
				}
				
				formData.set('productSupplyPrice',  conNumber($("#productSupplyPrice").val()));
				formData.set('productPrice',  conNumber($("#productPrice").val()));
				formData.set('productDiscountPrice',  conNumber($("#productDiscountPrice").val()));
				const jsonData = {
					confirmMsg : "삭제하시겠습니까?",
					successLink: '/supply/list/product',
					successMsg : '삭제를 완료했습니다.',
					failLink: '/',
					url:'/office/exec/product',
					type:'delete',
					dataType:'text',
					data: formData
				}
				
				ajaxSendAfterConfirmAlertLink(jsonData);	
			});
			
		}); //ready end
	
	</script>
</th:block>
</th:blcok>