<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{thymeleaf/common/default}">
<th:block layout:fragment="content">
	<div class="contentsWrap">
		<div class="subTitle">
			<h2>영상등록</h2>
		</div>
		<!-- 컨텐츠내용 -->
		<section class="contentArea">
			<div class="contents product">
				<form id="frm-object">
					<fieldset>
						<div class="writeForm">
							<div class="writerow"></div>
	                        <div class="writerow">
								<div class="t">학년</div>
								<div class="c">
									<select id="grade" name="grade">
										<option value="0">-</option>
										<th:block th:each="item : ${gradeList}">
											<option th:value="${item['Value']}"  th:text="${item['Grade_Name']}"></option>
										</th:block>
									</select>
									<select id="section" name="section">
									</select>
								</div>
							</div>
							<div class="writerow">
								<div class="t">제목</div>
								<div class="c">
									<input id="title" name="title" type="text" class="wp100" />
								</div>
							</div>
							<div class="writerow">
								<div class="t">영상선택</div>
								<div class="c fileBox">
									<input id="videoRealName" type="text" class="wp50" disabled style="display:none;"/>
									<button type="button" class=" btn sizeL bdGray" onclick="fileupload()">영상선택</button>
									<input id="videoFile" name="videoFile" type="file" class="wp100" style="display:none;" accept="video/*"/>
								</div>
							</div>
							<div class="writeFormSubmit">
								<button type="button" id="btn_modify" class="btn_sub btn bgMain">저장</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	</div>
</th:block>
<th:block layout:fragment="js">
	<script>
		$(document).ready(function(){
			// select 값 변경 시 AJAX 호출
			$('#grade').on('change', function () {
				const gradeSeq = $(this).val(); // 선택된 값
				console.log('gradeSeq : ', gradeSeq);

				// AJAX 호출
				$.ajax({
					url: '/sectionList', // 서버에서 처리할 URL
					type: 'GET', // 또는 'POST'
					data: { gradeSeq: gradeSeq }, // 전달할 데이터
					success: function (response) {
						$('#section').empty();
						$('#section').append('<option value="0">-</option>');
						response.forEach(function (item) {
							$('#section').append(
								`<option value="${item.Section_Value}">${item.Section_Name}</option>`
							);
						});
					},
					error: function (xhr, status, error) {
						// 실패 시 처리할 로직
						console.error('Error:', error);
						alert('실패!');
					}
				});
			});

    		$(document).on("click","#btn_modify",function(){				
			    let grade = $('#grade').val();		
			    let section = $('#section').val() ? $('#section').val() : 0 ;
			    let title = $('#title').val();
			    let videoFile = $('#videoFile')[0].files[0]; // 파일 객체 가져오기
				
			    if(grade==0){
			        alertInfo('알림', '학년을 선택하세요.');
			        return;
			    } else if(section==0){
			        alertInfo('알림', '과목을 선택하세요.');
			        return;
			    } else if(title==''){
			        alertInfo('알림', '제목을 입력하세요.');
			        return;
			    } else if(videoFile == null){
			        alertInfo('알림', '동영상을 등록해주세요.');
			        return;
			    }
				
				alertLoading();
				
			    var formData = new FormData();
			    formData.append('grade', grade);
			    formData.append('section', section);
			    formData.append('title', title);
			    formData.append('videoFile', videoFile);
			
			    $.ajax({
			        url : '/video/exec',
			        method : 'post',
			        data : formData, // FormData 전송
			        contentType: false, // 필수
			        processData: false, // 필수
			        success : function(d){
			            alertSuccessLink('성공','저장을 완료하였습니다.','/videoSave');
			        },
			        error : function(e,s){
			            console.log(e)
			            alertWarning('저장 실패', e.responseText)
			        }
			    });
			});

			
			//동영상 바뀌었을때
			$('#videoFile').change(function() {
			    var fileName = $(this).val().split('\\').pop(); // 파일 경로에서 파일명만 추출
			    $('#videoRealName').val(fileName); // 텍스트 input에 파일명 설정
			    $('#videoRealName').css('display','block');
			});
			
			
		});
		
		function fileupload(){
			$('#videoFile').click();
		};
	</script>
</th:block>