<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="thymeleaf/common/header :: headFragment">
	
</head>
<body>
	<div class="wrap">
		<script>
		$(document).ready(function() {
			
		});
		</script>
		<!-- 공통 메뉴 선언 -->
		<th:block th:replace="thymeleaf/common/nav :: navFragment"></th:block>

		
		<th:block layout:fragment="content"></th:block>
	</div>
</body>
</html>