<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="thymeleaf/common/header :: headFragment">
	
</head>
<body>
	<div class="wrap">
		<script>
			$(document).ready(function(){

				$.ajax({
			        url: '/navList',
			        method: 'GET',
			        success: function (data) {
			            let navHtml = '';
			            let userId = getCookie("userId");
						
			            data.forEach(grade => {
			                navHtml += `
			                    <li aria-label="${grade.sections.map(s => s.Section_Seq).join('|')}">
			                        <a><i class="fontIcons google"></i>${grade.gradeName}</a>
			                        <div class="dep2Menu">
			                            <ul>
			                                ${grade.sections.map(section => `
			                                    <li aria-label="${section.Section_Value}">
			                                        <a href="/list?classSeq=${section.Section_Value}">${section.Section_Name}</a>
			                                    </li>
			                                `).join('')}
			                            </ul>
			                        </div>
			                    </li>
			                `;
			            });
			            
						if(userId == null || userId === ''){
							window.location.href = '/';
						}else if(userId == 'admin'){
							navHtml += '<li id="videoSave"><a href="/videoSave"><i class="fontIcons google"></i>영상등록</a></li>';
							navHtml += '<li id="userList"><a href="/userList"><i class="fontIcons google"></i>원생목록</a></li>';
							navHtml += '<li id="sectionSave"><a href="/sectionSave"><i class="fontIcons google"></i>하위목록등록</a></li>';
							navHtml += '<li id="sectionDelete"><a href="/sectionDelete"><i class="fontIcons google"></i>하위목록삭제</a></li>';
							$('#userName').html('관리자');
						}else{
							$.ajax({
								url : "/user/name",
								method : "get",
								data : {'userId' : userId},
								success : function(data){
									let userName = data
									$('#userName').html(userName);
								},error : function(e){
									
								}
								
							})
						}
			            $('nav.sideNav > ul').html(navHtml);
			            initializeNavigation();
			        },
			        error: function (error) {
			            console.error('Navigation data fetch error:', error);
			        }
				});
				
				function initializeNavigation() {
				    var gnbLi = $(".sideNav > ul > li > a");
				    gnbLi.each(function () {
				        if ($(this).next("div").length == true) {
				            $(this).append("<i class='arrow'></i>");
				            $(this).on("click", function () {
				                $(this).next().slideToggle();
				                $(this).parent().toggleClass("on");
				            });
				        }
				    });

				    $(".sideNav ul li").each(function () {
				        var pageName = window.location.pathname;
				        if (pageName == '/list' || pageName == '/view') {
				            const urlSearchParams = new URLSearchParams(window.location.search);
				            const classSeq = urlSearchParams.get('classSeq');
				            var label = $(this).attr("aria-label") ?? 'noLabel';

				            var labelArr = label.split("|");
				            var active = false;
				            for (var i = 0; i < labelArr.length; i++) {
				                if (classSeq === labelArr[i]) {
				                    active = true;
				                    break;
				                }
				            }

				            if (active == true) {
				                $(".sideNav ul li").removeClass("on");
				                $(this).addClass("on");
				                $(this).find("a").next().toggle();
				            }
				        }
				    });
				}
				
				
				
				$(document).on("click","#logoutBtn",function(){
					Swal.fire({
						title: '로그아웃',
						html: '로그아웃하시겠습니까?',
						icon: 'success',
						confirmButtonText: '확인',
						confirmButtonColor: '#00A651',
						allowOutsideClick: false
					})
					.then(function(d){
						deleteCookie("userId");
						window.location.href = '/';
					});
					
				});
				
			});
			
			
		</script>
		<!-- 공통 메뉴 선언 -->
		<th:block th:replace="thymeleaf/common/nav :: navFragment"></th:block>
		<th:block layout:fragment="content"></th:block>
	</div>
</body>
</html>