<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navFragment">
	<header class="header">
		<h1>
		    <!-- img th:src="@{/common/admin/images/logo.png}" alt="CLP"/ -->
		    <a href="/main">아영수학</a>
		</h1>
		<div class="utill_wrap">
			<!--
		    <div class="link_wrap">
		        <a class="btn sizeP5 " href="javascript:void(0);" onclick="alertReady();" title="쇼핑몰 바로가기">
		            <i class="fontIcons google"><p class="name"><strong>홍길동</strong>님</p></i>
		        </a>
		    </div>
		    -->
		    <div class="utill">                  
		        <span class="name">
		            <a href="javascript:void(0);" id="logoutBtn" class="btn sizeS bdGray">로그아웃</a>
		        </span>           
		    </div>
		</div>
	</header>
	<div class="container">
		<nav class="sideNav">
			<ul>
				<li><a><i class="fontIcons google"></i>초등학교</a>
					<div class="dep2Menu">
						<ul>
							<li><a href="/list?classSeq=1">1학년</a></li>
							<li><a href="/list?classSeq=2">2학년</a></li>
							<li><a href="/list?classSeq=3">3학년</a></li>
							<li><a href="/list?classSeq=4">4학년</a></li>
							<li><a href="/list?classSeq=5">5학년</a></li>
							<li><a href="/list?classSeq=6">6학년</a></li>
						</ul>
					</div>
				</li>
				<li><a><i class="fontIcons google"></i>중학교</a>
					<div class="dep2Menu">
						<ul>
							<li><a href="/list?classSeq=7">1학년</a></li>
							<li><a href="/list?classSeq=8">2학년</a></li>
							<li><a href="/list?classSeq=9">3학년</a></li>
						</ul>
					</div>
				</li>
				<li><a><i class="fontIcons google"></i>고등학교</a>
					<div class="dep2Menu">
						<ul>
							<li><a href="/list?classSeq=10">1학년</a></li>
							<li><a href="/list?classSeq=11">2학년</a></li>
							<li><a href="/list?classSeq=12">3학년</a></li>
						</ul>
					</div>
				</li>
				<li id="videoSave"></li>
			</ul>
		</nav>
</th:block>
</html>