<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navFragment">
	<header class="header">
		<h1>
		    <!-- img th:src="@{/common/admin/images/logo.png}" alt="CLP"/ -->
		    <a href="/main" style="font-family: TTLaundryGothicB;">아영수학</a>
		</h1>
		<div class="utill_wrap">
		    <div class="utill">           
	            <span class="name"><strong id="userName">홍길동</strong></span>
	            <a href="javascript:void(0);" id="logoutBtn" class="btn sizeS bdGray">로그아웃</a>
		    </div>
		</div>
	</header>
	<div class="container">
		<nav class="sideNav">
			<ul>
				<li aria-label="1|2|3|4"><a><i class="fontIcons google"></i>초등3학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="1"><a href="/list?classSeq=1">개념쎈-1학기</a></li>
							<li aria-label="2"><a href="/list?classSeq=2">개념쎈-2학기</a></li>
							<li aria-label="3"><a href="/list?classSeq=3">Tesom-상반기풀이</a></li>
							<li aria-label="4"><a href="/list?classSeq=4">Tesom-하반기풀이</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="5|6|7|8"><a><i class="fontIcons google"></i>초등4학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="5"><a href="/list?classSeq=5">개념쎈-1학기</a></li>
							<li aria-label="6"><a href="/list?classSeq=6">개념쎈-2학기</a></li>
							<li aria-label="7"><a href="/list?classSeq=7">Tesom-상반기풀이</a></li>
							<li aria-label="8"><a href="/list?classSeq=8">Tesom-하반기풀이</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="9|10|11|12"><a><i class="fontIcons google"></i>초등5학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="9"><a href="/list?classSeq=9">개념쎈-1학기</a></li>
							<li aria-label="10"><a href="/list?classSeq=10">개념쎈-2학기</a></li>
							<li aria-label="11"><a href="/list?classSeq=11">Tesom-상반기풀이</a></li>
							<li aria-label="12"><a href="/list?classSeq=12">Tesom-하반기풀이</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="13|14|15|16"><a><i class="fontIcons google"></i>초등6학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="13"><a href="/list?classSeq=13">개념쎈-1학기</a></li>
							<li aria-label="14"><a href="/list?classSeq=14">개념쎈-2학기</a></li>
							<li aria-label="15"><a href="/list?classSeq=15">Tesom-상반기풀이</a></li>
							<li aria-label="16"><a href="/list?classSeq=16">Tesom-하반기풀이</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="17|18|19|20"><a><i class="fontIcons google"></i>중등1학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="17"><a href="/list?classSeq=17">개념쎈-1학기</a></li>
							<li aria-label="18"><a href="/list?classSeq=18">개념쎈-2학기</a></li>
							<li aria-label="19"><a href="/list?classSeq=19">개념유형-1학기</a></li>
							<li aria-label="20"><a href="/list?classSeq=20">개념유형-2학기</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="21|22|23|24"><a><i class="fontIcons google"></i>중등2학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="21"><a href="/list?classSeq=21">개념쎈-1학기</a></li>
							<li aria-label="22"><a href="/list?classSeq=22">개념쎈-2학기</a></li>
							<li aria-label="23"><a href="/list?classSeq=23">개념유형-1학기</a></li>
							<li aria-label="24"><a href="/list?classSeq=24">개념유형-2학기</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="25|26|27|28"><a><i class="fontIcons google"></i>중등3학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="25"><a href="/list?classSeq=25">개념쎈-1학기</a></li>
							<li aria-label="26"><a href="/list?classSeq=26">개념쎈-2학기</a></li>
							<li aria-label="27"><a href="/list?classSeq=27">개념유형-1학기</a></li>
							<li aria-label="28"><a href="/list?classSeq=28">개념유형-2학기</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="29|30|31|32|33|34"><a><i class="fontIcons google"></i>고등1학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="29"><a href="/list?classSeq=29">선행개념-공통수학1</a></li>
							<li aria-label="30"><a href="/list?classSeq=30">선행개념-공통수학2</a></li>
							<li aria-label="31"><a href="/list?classSeq=31">개념유형-공통수학1</a></li>
							<li aria-label="32"><a href="/list?classSeq=32">개념유형-공통수학2</a></li>
							<li aria-label="33"><a href="/list?classSeq=33">교과서풀이-미래엔</a></li>
							<li aria-label="34"><a href="/list?classSeq=34">교과서풀이-신사고</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="35|36|37|38|39|40"><a><i class="fontIcons google"></i>고등2학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="35"><a href="/list?classSeq=35">선행개념-수Ⅰ</a></li>
							<li aria-label="36"><a href="/list?classSeq=36">선행개념-수Ⅱ</a></li>
							<li aria-label="37"><a href="/list?classSeq=37">개념유형-수Ⅰ</a></li>
							<li aria-label="38"><a href="/list?classSeq=38">개념유형-수Ⅱ</a></li>
							<li aria-label="39"><a href="/list?classSeq=39">교과서풀이-미래엔</a></li>
							<li aria-label="40"><a href="/list?classSeq=40">교과서풀이-신사고</a></li>
						</ul>
					</div>
				</li>
				<li aria-label="41|42|43|44|45|46"><a><i class="fontIcons google"></i>고등3학년</a>
					<div class="dep2Menu">
						<ul>
							<li aria-label="41"><a href="/list?classSeq=41">선행개념-확통</a></li>
							<li aria-label="42"><a href="/list?classSeq=42">선행개념-미적분</a></li>
							<li aria-label="43"><a href="/list?classSeq=43">개념유형-확통</a></li>
							<li aria-label="44"><a href="/list?classSeq=44">개념유형-미적분</a></li>
							<li aria-label="45"><a href="/list?classSeq=45">교과서풀이-확통</a></li>
							<li aria-label="46"><a href="/list?classSeq=46">교과서풀이-미적분</a></li>
						</ul>
					</div>
				</li>
				<li id="videoSave"></li>
				<li id="userList"></li>
			</ul>
		</nav>
</th:block>
</html>