<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navFragment">
	<header class="header">
		<h1>
		    <!-- img th:src="@{/common/admin/images/logo.png}" alt="CLP"/ -->
		    아영수학
		</h1>
		<div class="utill_wrap">
		    <div class="link_wrap">
		        <a class="btn sizeP5 " href="javascript:void(0);" onclick="alertReady();" title="쇼핑몰 바로가기">
		            <i class="fontIcons google"><p class="name"><strong>홍길동</strong>님</p></i>
		        </a>
		    </div>
		    <div class="utill">                  
		        <span class="name">
		            <i class="fontIcons google"><a th:href="@{/logout}" class="btn sizeS bdGray">로그아웃</a></i>
		        </span>           
		    </div>
		    <!-- //메뉴 -->
		</div>
	</header>
	<div class="container">
		<nav class="sideNav">
			<ul>
				<li><a><i class="fontIcons google"></i>초등학교</a>
					<div class="dep2Menu">
						<ul>
							<li><a>1학년</a></li>
							<li><a>2학년</a></li>
							<li><a>3학년</a></li>
							<li><a>4학년</a></li>
							<li><a>5학년</a></li>
							<li><a>6학년</a></li>
							<li><a th:href="@{/office/list/qna}">상품문의</a></li>
						</ul>
					</div>
				</li>
				<li><a><i class="fontIcons google"></i>중학교</a>
					<div class="dep2Menu">
						<ul>
							<li><a>1학년</a></li>
							<li><a>2학년</a></li>
							<li><a>3학년</a></li>
							<li><a th:href="@{/office/list/qna}">상품문의</a></li>
						</ul>
					</div>
				</li>
				<li><a><i class="fontIcons google"></i>고등학교</a>
					<div class="dep2Menu">
						<ul>
							<li><a>1학년</a></li>
							<li><a>2학년</a></li>
							<li><a>3학년</a></li>
							<li><a th:href="@{/office/list/qna}">상품문의</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
</th:block>
</html>