<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayoungmath.mapper.BoardMapper">
	<select id="getClassList" parameterType="string" resultType="hashmap">
	 	/* getClassList 학년에 맞는 영상 가져오기*/ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Grade = #{Grade}
		ORDER BY
	        ISNULL(sort),  -- NULL 값을 먼저 처리
	        sort ASC,      -- sort 값을 기준으로 오름차순
	        Video_Seq ASC  -- sort가 같거나 NULL인 경우 Video_Seq 기준
	</select>
	
	<select id="getVideoInfo" parameterType="string" resultType="hashmap">
	 	/* getVideoInfo 영상 정보 가져오기 */ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Video_Seq = #{VideoSeq}
	</select>
	
	<select id="getNextSortValue" parameterType="int" resultType="int">
	    SELECT COALESCE(MAX(sort), 0) + 1
	    FROM Video_List
	    WHERE Grade = #{grade};
	</select>
	
	<insert id="saveVideoName" parameterType="hashmap" >
	 	/* saveVideoName 영상저장 */ 
		INSERT INTO Video_List (Grade, Title, Video_Name, File_Ext, sort)
	    VALUES (#{section},#{title},#{videoName},#{fileExt},#{sort})
	</insert>
	
	<insert id="saveUser" parameterType="hashmap" >
	 	/* saveUser 원생저장 */ 
		INSERT INTO User_List(UserId,Pass,UserName)
		VALUES (#{userId},#{password},#{userName})
	</insert>
	
	<select id="getLogin" parameterType="hashmap" resultType="hashmap">
	 	/* getLogin 아이디와 패스워드로 로그인 */ 
		SELECT
			*
		FROM User_List
		WHERE UserId = #{userId} AND Pass = #{password}
		AND Delete_Yn = 'N'
	</select>
	
	<select id="getUserName" parameterType="hashmap" resultType="string">
	 	/* getUserName 아이디로 회원이름 가져오기 */ 
		SELECT
			UserName
		FROM User_List
		WHERE UserId = #{userId}
		AND Delete_Yn = 'N'
		LIMIT 1
	</select>
	
	<select id="getAllUser" resultType="hashmap">
	 	/* getAllUser 원생 모두 가져오기 */ 
		SELECT
			*
		FROM User_List
		WHERE UserId != 'admin'
	</select>

	<select id="getGrade" resultType="hashmap">
	 	/* getGrade 학년 가져오기 */ 
		SELECT
			*
		FROM grade_list
		ORDER BY Value
	</select>

	<select id="getSection" parameterType="integer" resultType="hashmap">
	 	/* getSection 학년 별 섹션 가져오기 */ 
		SELECT
			*
		FROM section_list
		WHERE Grade_Seq = #{gradeSeq}
		ORDER BY Section_Value
	</select>
	
	<update id="updateSortOrder" parameterType="map">
		/* updateSortOrder 비디오 순서변경 */ 
		UPDATE video_list
	    SET sort = #{sort}
	    WHERE Video_Seq = #{videoSeq}
	</update>

	<update id="userUpdate" parameterType="java.util.List">
		/* userUpdate 원생 상태변경 */ 
		UPDATE User_List
	    SET Delete_Yn = CASE
	        WHEN Delete_Yn = 'Y' THEN 'N'
	        ELSE 'Y'
	    END
	    WHERE User_Seq IN
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</update>

	<delete id="deleteVideo" parameterType="string">
		/* deleteVideo 비디오 삭제 */ 
		DELETE FROM Video_List
	    WHERE Video_Seq = #{VideoSeq}
	</delete>
</mapper>