<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayoungmath.mapper.BoardMapper">
	<select id="getClassList" parameterType="string" resultType="hashmap">
	 	/* getClassList 학년에 맞는 영상 가져오기*/ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Grade = #{Grade}
	</select>
	
	<select id="getVideoInfo" parameterType="string" resultType="hashmap">
	 	/* getVideoInfo 영상 정보 가져오기 */ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Video_Seq = #{VideoSeq}
	</select>
	
	<insert id="saveVideoName" parameterType="hashmap" >
	 	/* saveVideoName 영상저장 */ 
		INSERT INTO Video_List (Grade,Title,Video_Name,File_Ext)
		VALUES (#{grade},#{title},#{videoName},#{fileExt})
	</insert>
	
	<insert id="saveUser" parameterType="hashmap" >
	 	/* saveUser 원생저장 */ 
		INSERT INTO User_List(UserId,Pass,UserName)
		VALUES (#{userId},#{password},#{userName})
	</insert>
	
	<select id="getLogin" parameterType="hashmap" resultType="hashmap">
	 	/* getLogin 아이디와 패스워드로 로그인 */ 
		SELECT
			*
		FROM User_List
		WHERE UserId = #{userId} AND Pass = #{password}
		AND Delete_Yn = 'N'
	</select>
	
	<select id="getUserName" parameterType="hashmap" resultType="string">
	 	/* getUserName 아이디로 회원이름 가져오기 */ 
		SELECT
			UserName
		FROM User_List
		WHERE UserId = #{userId}
		AND Delete_Yn = 'N'
		LIMIT 1
	</select>
	
	<select id="getAllUser" resultType="hashmap">
	 	/* getAllUser 원생 모두 가져오기 */ 
		SELECT
			*
		FROM User_List
		WHERE UserId != 'admin'
	</select>
	
	<update id="userUpdate" parameterType="java.util.List">
		/* userUpdate 원생 상태변경 */ 
		UPDATE User_List
	    SET Delete_Yn = CASE
	        WHEN Delete_Yn = 'Y' THEN 'N'
	        ELSE 'Y'
	    END
	    WHERE User_Seq IN
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</update>

	<delete id="deleteVideo" parameterType="string">
		/* deleteVideo 비디오 삭제 */ 
		DELETE FROM Video_List
	    WHERE Video_Seq = #{VideoSeq}
	</delete>
</mapper>