<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayoungmath.mapper.BoardMapper">
	<select id="getClassList" parameterType="string" resultType="hashmap">
	 	/* getClassList */ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Grade = #{Grade}
	</select>
	
	<select id="getVideoInfo" parameterType="string" resultType="hashmap">
	 	/* getVideoInfo */ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Video_Seq = #{VideoSeq}
	</select>
	
	<insert id="saveVideoName" parameterType="hashmap" >
		INSERT INTO Video_List (Grade,Video_Name,File_Ext)
		VALUES (#{grade},#{videoName},#{fileExt})
	</insert>
	
	<select id="getLogin" parameterType="hashmap" resultType="hashmap">
	 	/* getLogin */ 
		SELECT
			*
		FROM User_List
		WHERE UserId = #{userId} AND Pass = #{password}
	</select>
</mapper>