<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayoungmath.mapper.MemberMapper">
	<select id="getClassList" parameterType="string" resultType="hashmap">
	 	/* getClassList */ 
		SELECT
			*
		FROM Video_List
		WHERE 
			Grade = #{Grade}
	</select>
		
</mapper>