<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="~{thymeleaf/common/default}">
<th:block layout:fragment="content"> 
	<div class="contentsWrap">
	    <div class="subTitle">
	        <h2 th:text="${map.Title}"></h2>
	    </div>           
	
	    <!-- 컨텐츠내용 -->
	    <section class="contentArea">                      
	        <div class="contents">
				<div class="writeForm">
				    <div class="writerow_box">
						<div class="writerow">
							<div class="t">제목</div>
			            	<div class="c" th:text="${map.Title}" >제목</div>
							<input type="hidden" id="VideoSeq" th:value="${VideoSeq}" />
			            </div>
					</div>      
					<div class="writerow_box">
			            <div class="writerow">
							<div class="t">영상</div>
			            	<div class="c">
								<video width="1280" height="720" controls controlsList="noplaybackrate nodownload" disablepictureinpicture  >
							    <!-- 동적으로 파일 URL을 생성하여 설정 -->
							    <source th:src="@{'/video/' + ${map['fileUrl']}}" type="video/mp4">
								</video>
							</div>
			            </div>
		            </div>     
				</div>
	            <div class="writeFormSubmit">
	                <button type="button" class="btn bdGray" onClick="goBack()">목록</button>
					<button type="button" class="btn bgGreen" th:if="${userId == 'admin'}" onClick="deleteVideo()">삭제</button>
	            </div>
	
	        </div>
	    </section>
	    <!-- //컨텐츠내용 -->
	
	
	</div>
</th:block>
<th:block layout:fragment="js">
	<script th:inline="javascript">
		function deleteVideo(){
			let videoSeq = $('#VideoSeq').val();
			$.ajax({
				url : '/video/delete',
				method : 'post',
				data : {'videoSeq' : videoSeq},
				success : function(d){
					console.log(d);
					alertSuccessLink('성공','삭제을 완료하였습니다.','/list?classSeq='+d);
				},
				error : function(e,s){
					console.log(e)
					alertWarning('삭제 실패', e.responseText);
				}
			});

		}
	</script>
</th:block>
